@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --nav-logo-text: 1.25rem;
    --card-title-desktop: 1.5rem;
    --line-height-badge: 1.25rem;
    --hero-title-mobile: 4rem;

    --accent: #A7F3D0;
    --white: #FFFFFF;
    --light-blue:#94A3B8;
    --dark-blue: #1E293B;
    --darker-blue: #0F172A;

}

.swiper-pagination{
    display: flex;
    justify-content: center;
}

.swiper-pagination > .bullet {
    display: block;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 100%;
    background-color: var(--dark-blue);
}
.swiper-pagination > .bullet:not(:last-child) {
     margin-right: 0.5rem; /* 8px */
}

.swiper-pagination > .active-bullet {
    background-color: var(--accent);
}


@media (min-width: 768px) {
    .swiper-pagination{
        padding-right: 2rem;
        justify-content: end;
    }
}

@media (min-width: 1440px) {
    .swiper-pagination{
        padding-right: 4rem;
    }
}