@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: initial;
}

:root {

    --nav-logo-text: 1.25rem;
    --card-title-desktop: 1.5rem;
    --line-height-badge: 1.25rem;
    --hero-title-mobile: 4rem;

    --accent: #A7F3D0;
    --white: #FFFFFF;
    --light-blue:#94A3B8;
    --dark-blue: #1E293B;
    --darker-blue: #0F172A;
    --preview-overlay: linear-gradient(270deg, rgba(31, 41, 55, 0.00) 10.5%, #0F172A 90.91%);
    --banner-overlay: linear-gradient(180deg, rgba(31, 41, 55, 0.00)-134.3%, #0F172A 100%);

    scroll-padding: 0;

}

.swiper-pagination{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
   
}

.swiper-pagination > .bullet {
    display: block;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 100%;
    background-color: var(--dark-blue);
    cursor: pointer;
}
.swiper-pagination > .bullet:not(:last-child) {
     margin-right: 0.5rem; /* 8px */
}

.swiper-pagination > .active-bullet {
    background-color: var(--accent);
}

.swiper-slide{
    width: auto;
}


@media (min-width: 768px) {
    .swiper-pagination{
        padding-right: 2rem;
        justify-content: end;
    }
}

@media (min-width: 1440px) {
    .swiper-pagination{
        padding-right: 4rem;
    }
}